.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  font-size: 16px;
  color: #666;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links a:hover {
  color: red;
}

.nav-links button {
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-links .auth-links {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-links .auth-links a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.nav-links .auth-links a:hover {
  color: #666;
}

.dashboard-links {
  margin-top: 10px;
}

.dashboard-links li {
  margin-right: 20px;
}

.dashboard-links a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.dashboard-links a:hover {
  color: #666;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .nav-links {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links li,
  .dashboard-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-links .auth-links {
    margin-left: 0;
    flex-wrap: wrap;
  }
}
